@page
@using AppFramework.Application
@model ServiceHost.Pages.CartModel
@{
    ViewData["Title"] = "سبد خرید";
}

<div class="card-group text-end m-2">
    <div class="card">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="card-header">سبد خرید شما</h2>
                <div>
                    <small class="small">
                        <a asp-page="./Index">صفحه اصلی</a>
                    </small>
                </div>
                <div>
                    <span class="card-title">سبد خرید</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-group text-end m-2">
    <div class="card">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-body">

                    <div>
                        @foreach (var item in Model.CartItems.Where(x => !x.IsInStock))
                        {
                            <div id="@item.Id">
                                <i class="fa fa-warning"></i> کالای
                                <strong>@item.Name</strong>
                                در انبار کمتر از تعداد درخواستی موجود است.
                            </div>
                        }
                    </div>

                    <div>
                        <div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>عکس</th>
                                        <th>محصول</th>
                                        <th>قیمت واحد</th>
                                        <th>تعداد</th>
                                        <th>قیمت کل</th>
                                        <th>حذف</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CartItems)
                                    {
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <img src="~/ProductPictures/@item.Picture" class="img-fluid" alt="@item.Name">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#">@item.Name</a>
                                            </td>
                                            <td>
                                                <span>@item.UnitPrice.ToMoney()</span>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="number" value="@item.Count" min="1" onchange="changeCartItemCount('@item.Id', 'totalItemPrice-@item.Id', this.value)">
                                                </div>
                                            </td>
                                            <td>
                                                <span id="totalItemPrice-@item.Id">@item.TotalItemPrice.ToMoney()</span>
                                            </td>
                                            <td>
                                                <a asp-page-handler="RemoveFromCart" asp-route-id="@item.Id">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div>
                                <div>
                                    <div>
                                        <a class="btn btn-primary btn-sm" asp-page-handler="GoToCheckOut">
                                            تکمیل فرایند خرید
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>