@model List<AppQuery.Contracts.Product.ProductQueryModel>


<div class="row text-center">
    <div class="col-lg-12">
        <h2>آخرین محصولات</h2>
        <p>
            آخرین کتاب هایی که در فروشگاه به ثبت رسیده اند

        </p>
    </div>
</div>
<div class="card-group">
    <div class="col-lg-12">
        @foreach (var product in Model)
        {
            <div class="col-lg-4">
                <div class="card">
                    <a asp-page="/Product" asp-route-id="@product.Slug">
                        <img src="~/ProductPictures/@product.Picture" class="card-img-top img-fluid" title="@product.PictureTitle" alt="@product.PictureAlt">
                    </a>
                    <div class="card-body">

                        <h5 class="card-title">
                            <a asp-page="/Product" asp-route-id="@product.Slug">@product.Name</a>
                        </h5>

                        <span class="card-text">
                            <a asp-page="/ProductCategory" asp-route-id="@product.CategorySlug">@product.Category</a>
                        </span>

                        <p class="card-text">
                            @if (product.HasDiscount)
                            {
                                <span class="sale">@product.DiscountRate%</span>
                                <span class="new">جدید</span>
                            }
                        </p>

                        <p class="card-text">
                            @if (product.HasDiscount)
                            {
                                <span class="discounted-price">@product.PriceWithDiscount تومان</span>
                                <span class="main-price discounted">@product.Price تومان</span>
                            }
                            else
                            {
                                <span class="main-price">@product.Price تومان</span>
                            }
                        </p>
                    </div>

                    <div class="card-footer">
                        <small class="text-muted">@product.DiscountExpireDate</small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
